<h2>Bandana#index</h2>

<p>Hello World!</p>


<% @resources.each do |r| %>
   <%= r %><br />
 <div class="form-buttons">
      <%= submit_tag("Load") %>
      <%= submit_tag("Save") %>
    </div>
<% end %>


      
